<div class="ab-bar px-4 lg:px-0 bg-[#DFFBDC] dark:bg-[#333333] transition-all duration-300 border-b border-b-[#339C00]">
  <div class="flex justify-between items-center container py-1 ">
    <div class="text-[#339C00] dark:text-[#DFFBDC] md:py-2 py-2 md:px-0 px-2 text-center">
      {{ section.settings.ab_text }}
    </div>
    <div class="text-end py-1  gap-2 md:flex hidden">
      {% comment %} {%- render 'theme_switcher' -%} {% endcomment %}
      <div class="text-[#339C00] dark:text-[#DFFBDC] flex">
        {{- 'location.svg' | inline_asset_content -}}
        Track Order
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Announcemet",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "text",
      "id": "ab_text",
      "label": "Anouncement",
      "default": "World wide free shipping. No minimum requirement"
    }
  ],
  "presets": [
    {
      "name": "Announcemet Bar",
      "settings": {}
    }
  ]
}
{% endschema %}
