<div class="catagory container">
  <div class="flex justify-center">
    <div class="lg:w-1/2 md:w-2/3 p-4 md:p-0 text-center dark:text-white text-dark">
      <h2 class="text-3xl md:text-5xl capitalize ">Choose your Category</h2>
      <p class="md:text-lg my-4">
        Smartwatches provide quick access to notifications, calls, messages, and apps right on your wrist, reducing the
        constantly check your phone.
      </p>
    </div>
  </div>
  <div class="category_list flex flex-wrap justify-center text-center dark:text-white text-dark">
    <div class="p-4 lg:w-1/4 md:w-1/3 w-1/2">
      <div class="">
        <img
          src="https://elexy-demo.myshopify.com/cdn/shop/collections/Rectangle_395.png"
          height="auto"
          width="auto"
          alt=""
          class="rounded-md"
        >
        <h4 class="text-xl my-2">Category Title</h4>
        <span class="text-gray-400"> 6 Items</span>
      </div>
    </div>
    <div class="p-4 lg:w-1/4 md:w-1/3 w-1/2">
      <div class="">
        <img
          src="https://elexy-demo.myshopify.com/cdn/shop/collections/Rectangle_395.png"
          height="auto"
          width="auto"
          alt=""
          class="rounded-md"
        >
        <h4 class="text-xl my-2">Category Title</h4>
        <span class="text-gray-400"> 6 Items</span>
      </div>
    </div>
    <div class="p-4 lg:w-1/4 md:w-1/3 w-1/2">
      <div class="">
        <img
          src="https://elexy-demo.myshopify.com/cdn/shop/collections/Rectangle_395.png"
          height="auto"
          width="auto"
          alt=""
          class="rounded-md"
        >
        <h4 class="text-xl my-2">Category Title</h4>
        <span class="text-gray-400"> 6 Items</span>
      </div>
    </div>
    <div class="p-4 lg:w-1/4 md:w-1/3 w-1/2">
      <div class="">
        <img
          src="https://elexy-demo.myshopify.com/cdn/shop/collections/Rectangle_395.png"
          height="auto"
          width="auto"
          alt=""
          class="rounded-md"
        >
        <h4 class="text-xl my-2">Category Title</h4>
        <span class="text-gray-400"> 6 Items</span>
      </div>
    </div>
    <div class="p-4 lg:w-1/4 md:w-1/3 w-1/2">
      <div class="">
        <img
          src="https://elexy-demo.myshopify.com/cdn/shop/collections/Rectangle_395.png"
          height="auto"
          width="auto"
          alt=""
          class="rounded-md"
        >
        <h4 class="text-xl my-2">Category Title</h4>
        <span class="text-gray-400"> 6 Items</span>
      </div>
    </div>
  </div>
</div>
