<div class="featured_category container">
  <div class="grid-wrapper mt-5">
    <div class="tall relative">
      <img
        src="https://elexy-demo.myshopify.com/cdn/shop/files/banner-h2-m-1-image.png"
        height=""
        width=""
        alt=""
      >
      <div class="overly opacity-30 absolute top-0 left-0 right-0 bottom-0 bg-[#070707] rounded-sm"></div>
      <div class="product_info absolute text-white text-center top-[50px] left-[70px]">
        <p class="">Product Sub Title</p>
        <h2 class="text-2xl font-semibold tracking-wider">Product Title</h2>
        <a class="underline font-semibold" href="http://">Buy Now</a>
      </div>
    </div>
    <div class="relative">
      <img
        src="https://elexy-demo.myshopify.com/cdn/shop/files/banner-h2-m-3-image.png"
        height=""
        width=""
        alt=""
      >
      <div class="overly opacity-30 absolute top-0 left-0 right-0 bottom-0 bg-[#070707] rounded-sm"></div>
      <div class="product_info absolute text-white text-center top-[50px] left-[70px]">
        <p class="">Product Sub Title</p>
        <h2 class="text-2xl font-semibold tracking-wider">Product Title 1</h2>
        <a class="underline font-semibold" href="http://">Buy Now</a>
      </div>
    </div>
    <div class="wide relative">
      <img
        src="https://elexy-demo.myshopify.com/cdn/shop/files/banner-h2-m-2-image.png"
        height=""
        width=""
        alt=""
      >
      <div class="overly opacity-30 absolute top-0 left-0 right-0 bottom-0 bg-[#070707] rounded-sm"></div>
      <div class="product_info absolute text-white text-center top-[50px] left-[400px]">
        <p class="">Product Sub Title</p>
        <h2 class="text-2xl font-semibold tracking-wider">Product Title</h2>
        <a class="underline font-semibold" href="http://">Buy Now</a>
      </div>
    </div>
    <div class="wide relative">
      <img
        src="https://elexy-demo.myshopify.com/cdn/shop/files/banner-h2-m-5-image.png"
        height=""
        width=""
        alt=""
      >
      <div class="overly opacity-30 absolute top-0 left-0 right-0 bottom-0 bg-[#070707] rounded-sm"></div>
      <div class="product_info absolute text-white text-center top-[50px] left-[70px]">
        <p class="">Product Sub Title</p>
        <h2 class="text-2xl font-semibold tracking-wider">Product Title</h2>
        <a class="underline font-semibold" href="http://">Buy Now</a>
      </div>
    </div>
    <div class="relative">
      <img
        src="https://elexy-demo.myshopify.com/cdn/shop/files/banner-h2-m-4-image.png"
        height=""
        width=""
        alt=""
      >
      <div class="overly opacity-30 absolute top-0 left-0 right-0 bottom-0 bg-[#070707] rounded-sm"></div>
      <div class="product_info absolute text-white text-center top-[50px] left-[70px]">
        <p class="">Product Sub Title</p>
        <h2 class="text-2xl font-semibold tracking-wider">Product Title</h2>
        <a class="underline font-semibold" href="http://">Buy Now</a>
      </div>
    </div>
  </div>
</div>
