<div class="min-h-screen flex justify-center items-center">
  <div class="category_list container flex flex-wrap justify-center gap-5 text-center pt-0 pb-[100px] px-4 lg:px-0">
    <!-- Item 1 -->
    <div class="featured_product relative w-full md:w-[48%] lg:w-[32%]">
      <img
        height=""
        width=""
        class="h-[400px] w-full rounded-md object-cover"
        src="https://elexy-demo.myshopify.com/cdn/shop/files/banner-h2-m-1-image.png"
        alt=""
      >
      <div class="overly opacity-30 absolute inset-0 bg-[#070707] rounded-md"></div>
      <div class="product_info absolute top-[10px] left-[20px] flex flex-col justify-center items-center text-white text-center">
        <p>Product Sub Title</p>
        <h2 class="text-2xl font-semibold tracking-wider">Product Title 1</h2>
        <a class="underline font-semibold" href="#">Buy Now</a>
      </div>
    </div>

    <!-- Item 2 -->
    <div class="featured_product relative w-full md:w-[48%] lg:w-[32%]">
      <img
        height=""
        width=""
        class="h-[400px] w-full rounded-md object-cover"
        src="https://elexy-demo.myshopify.com/cdn/shop/files/banner-h2-m-1-image.png"
        alt=""
      >
      <div class="overly opacity-30 absolute inset-0 bg-[#070707] rounded-md"></div>
      <div class="product_info absolute top-[10px] left-[20px] flex flex-col justify-center items-center text-white text-center">
        <p>Product Sub Title</p>
        <h2 class="text-2xl font-semibold tracking-wider">Product Title 2</h2>
        <a class="underline font-semibold" href="#">Buy Now</a>
      </div>
    </div>

    <!-- Item 3 -->
    <div class="featured_product relative w-full md:w-[48%] lg:w-[32%]">
      <img
        height=""
        width=""
        class="h-[400px] w-full rounded-md object-cover"
        src="https://elexy-demo.myshopify.com/cdn/shop/files/banner-h2-m-1-image.png"
        alt=""
      >
      <div class="overly opacity-30 absolute inset-0 bg-[#070707] rounded-md"></div>
      <div class="product_info absolute top-[10px] left-[20px] flex flex-col justify-center items-center text-white text-center">
        <p>Product Sub Title</p>
        <h2 class="text-2xl font-semibold tracking-wider">Product Title 3</h2>
        <a class="underline font-semibold" href="#">Buy Now</a>
      </div>
    </div>
  </div>
</div>
