<div class="category_list container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 text-center pt-[0px] pb-[100px] px-4 lg:px-0">
  <div class="featured_product">
    <div class="relative">
      <img
        class="h-[400px] w-full rounded-md"
        src="https://elexy-demo.myshopify.com/cdn/shop/files/banner-h2-m-1-image.png"
        height=""
        width=""
        alt=""
      >
      <div class="overly opacity-30 absolute top-0 left-0 right-0 bottom-0 bg-[#070707] rounded-md"></div>
      <div class="product_info absolute text-white text-center top-[50px] left-[70px]">
        <p class="">Product Sub Title</p>
        <h2 class="text-2xl font-semibold tracking-wider">Product Title 1</h2>
        <a class="underline font-semibold" href="http://">Buy Now</a>
      </div>
    </div>
  </div>
  <div class="featured_product">
    <div class="relative">
      <img
        class="h-[400px] w-full rounded-md"
        src="https://elexy-demo.myshopify.com/cdn/shop/files/banner-h2-m-1-image.png"
        height=""
        width=""
        alt=""
      >
      <div class="overly opacity-30 absolute top-0 left-0 right-0 bottom-0 bg-[#070707] rounded-md"></div>
      <div class="product_info absolute text-white text-center top-[50px] left-[70px]">
        <p class="">Product Sub Title</p>
        <h2 class="text-2xl font-semibold tracking-wider">Product Title 1</h2>
        <a class="underline font-semibold" href="http://">Buy Now</a>
      </div>
    </div>
  </div>
  <div class="featured_product">
    <div class="relative">
      <img
        class="h-[400px] w-full rounded-md"
        src="https://elexy-demo.myshopify.com/cdn/shop/files/banner-h2-m-1-image.png"
        height=""
        width=""
        alt=""
      >
      <div class="overly opacity-30 absolute top-0 left-0 right-0 bottom-0 bg-[#070707] rounded-md"></div>
      <div class="product_info absolute text-white text-center top-[300px] left-[100px]">
        <p class="">Product Sub Title</p>
        <h2 class="text-2xl font-semibold tracking-wider">Product Title 1</h2>
        <a class="underline font-semibold" href="http://">Buy Now</a>
      </div>
    </div>
  </div>
</div>
