<div class="footer_bar py-6 md:px-4 lg:px-0">
  <div class="container flex flex-col md:flex-row justify-center md:justify-between items-center gap-4">
    <p>© 2025, <span class="font_bg italic text-lg">ThmsPark</span> Shopify Theme</p>
    <div class="payment_icon">
      <ul class="flex gap-2">
        <li class="">
          {{- 'visa.svg' | inline_asset_content -}}
        </li>
        <li>
          {{- 'mastercard.svg' | inline_asset_content -}}
        </li>
        <li>
          {{- 'amex.svg' | inline_asset_content -}}
        </li>
        <li>
          {{- 'paypal.svg' | inline_asset_content -}}
        </li>
      </ul>
    </div>
  </div>
</div>
