<div class="text">
  <div id="navbar" class="container flex justify-between top-0 left-0 right-0 !mx-auto">
    <div class="order-1 flex-1 border-2">
      <h2 class="text-2xl font-bold .font_bg">{{ shop.name }}</h2>
    </div>
    <div class="order-2 flex-1 border-2">Menu</div>
    <div class="order-3 flex-1 border-2">Icon</div>
  </div>
</div>

{% schema %}
{
  "name": "Navigation Bar",
  "settings": [],
  "enabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Navigation Bar",
      "settings": {}
    }
  ]
}
{% endschema %}
