<div class="hero_section relative -mt-[59px]">
  <div class="slick_carousel">
    <div class="single_banner relative">
      <div class="">
        <img
          height=""
          width=""
          src="https://elexy-demo.myshopify.com/cdn/shop/files/slider_1400.png"
          alt="Hero Image"
          class="w-full h-auto"
        >
        <div class="overly opacity-30"></div>
      </div>
      <div class="banner_info mt-[50px] container absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 dark:text-white text-black transition-all duration-300">
        <div class="flex justify-start">
          <div class="w-1/2 text-start">
            <p class="text-xl tracking-wide">Lorem ipsum dolor sit amet.</p>
            <h1 class="text-7xl capitalize leading-24">Next generation Virtual reality</h1>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit qui animi eum natus soluta explicabo!
            </p>
            <button class="px-6 py-2 bg-white text-black rounded-full border border-white transition-all duration-300 hover:scale-[1.1] mr-2 mt-6">
              Shop Now
            </button>
            <button class="px-6 py-2 bg-transparent text-white rounded-full border border-white transition-all duration-300 hover:scale-[1.1] mt-6">
              View More
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="single_banner relative">
      <div class="">
        <img
          height=""
          width=""
          src="https://elexy-demo.myshopify.com/cdn/shop/files/slider_1400.png"
          alt="Hero Image"
          class="w-full h-auto"
        >
        <div class="overly opacity-30"></div>
      </div>
      <div class="banner_info mt-[50px] container absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 dark:text-white text-black transition-all duration-300">
        <div class="flex justify-start">
          <div class="w-1/2 text-start">
            <p class="text-xl tracking-wide">Lorem ipsum dolor sit amet.</p>
            <h1 class="text-7xl capitalize leading-24">Next generation Virtual reality</h1>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit qui animi eum natus soluta explicabo!
            </p>
            <button class="px-6 py-2 bg-white text-black rounded-full border border-white transition-all duration-300 hover:scale-[1.1] mr-2 mt-6">
              Shop Now
            </button>
            <button class="px-6 py-2 bg-transparent text-white rounded-full border border-white transition-all duration-300 hover:scale-[1.1] mt-6">
              View More
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="single_banner relative">
      <div class="">
        <img
          height=""
          width=""
          src="https://elexy-demo.myshopify.com/cdn/shop/files/slider_1400.png"
          alt="Hero Image"
          class="w-full h-auto"
        >
        <div class="overly opacity-30"></div>
      </div>
      <div class="banner_info mt-[50px] container absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 dark:text-white text-black transition-all duration-300">
        <div class="flex justify-start">
          <div class="w-1/2 text-start">
            <p class="text-xl tracking-wide">Lorem ipsum dolor sit amet.</p>
            <h1 class="text-7xl capitalize leading-24">Next generation Virtual reality</h1>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit qui animi eum natus soluta explicabo!
            </p>
            <button class="px-6 py-2 bg-white text-black rounded-full border border-white transition-all duration-300 hover:scale-[1.1] mr-2 mt-6">
              Shop Now
            </button>
            <button class="px-6 py-2 bg-transparent text-white rounded-full border border-white transition-all duration-300 hover:scale-[1.1] mt-6">
              View More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
