<div class="newsletter bg-[#dffbdc] py-6">
  <div class="container flex items-center justify-between">
    <div class="w-1/2">
      <h1 class="text-5xl tracking-wide leading-14">Subscribe our Newsletter and get all of our update</h1>
    </div>
    <form class="border rounded-full p-2">
      <input type="email" name="" id="" class="w-sm p-2 placeholder:text-gray-400" placeholder="Enter your email">
      <button class="border border-[#000000] py-2 px-7 rounded-full text-sm">Submit Now</button>
    </form>
  </div>
</div>

{% schema %}
{
  "name": "Newsletter",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Newsletter",
      "settings": {}
    }
  ]
}
{% endschema %}
