<div class="newsletter bg-[#dffbdc] py-6 px-4 lg:px-0">
  <div class="container md:flex lg:items-center justify-between text-center">
    <div class="md:w-1/2">
      <h1 class="text-2xl lg:text-5xl tracking-wide leading-8 lg:leading-14">
        Subscribe our Newsletter and get all of our update
      </h1>
    </div>
    <form class="md:border rounded-full md:p-2">
      <input
        type="email"
        name=""
        id=""
        class="border md:border-0 rounded-full lg:rounded-none w-full md:w-52 lg:w-sm p-2 my-3 md:my-0 placeholder:text-gray-400"
        placeholder="Enter your email"
      >
      <button class="border border-[#000000] py-3 px-7 rounded-full text-sm">Submit Now</button>
    </form>
  </div>
</div>

{% schema %}
{
  "name": "Newsletter",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Newsletter",
      "settings": {}
    }
  ]
}
{% endschema %}
