<div class="promo_sale my-20">
  <div class="container">
    <div class="flex items-center">
      <div class="w-1/2">
        <img
          src="https://elexy-demo.myshopify.com/cdn/shop/files/prom-product-image.png"
          height=""
          width=""
          alt="product image"
          class="rounded-md"
        >
      </div>
      <div class="w-1/2 text-center p-6">
        <p class="subtitle text-[#339c00] text-lg font-semibold">GET UP TO 65% OFF</p>
        <h2 class="title text-5xl font-bold tracking-wider py-4">Pexoli Air Fryer</h2>
        <p class="price text-[#339c00] text-lg font-semibold">$462.00</p>
        <div class="short_desc text-gray-500">
          Electronics products continue to drive innovation and shape the way we live, work, and interact with our
          environment.
        </div>
        <button class="shop_now border border-[#000000] py-3 px-7 rounded-full my-4 hover:bg-black hover:text-white duration-300 hover:scale-[1.1]">
          Shop Now
        </button>
        <div class="">
          <div id="countdown" class="flex justify-center space-x-4 text-2xl font-semibold text-[#339c00]">
            <div class="flex flex-col items-center">
              <span id="days" class="text-5xl">00</span>
              <span class="text-sm text-gray-400">Days</span>
            </div>
            <span id="" class="text-5xl">:</span>
            <div class="flex flex-col items-center">
              <span id="hours" class="text-5xl">00</span>
              <span class="text-sm text-gray-400">Hours</span>
            </div>
            <span id="" class="text-5xl">:</span>
            <div class="flex flex-col items-center">
              <span id="minutes" class="text-5xl">00</span>
              <span class="text-sm text-gray-400">Minutes</span>
            </div>
            <span id="" class="text-5xl">:</span>
            <div class="flex flex-col items-center">
              <span id="seconds" class="text-5xl">00</span>
              <span class="text-sm text-gray-400">Seconds</span>
            </div>
          </div>

          <p id="finished" class="mt-8 text-green-400 text-xl hidden">🎉 Time’s up!</p>
        </div>
      </div>
    </div>
  </div>
</div>
