body{
    margin: 0;
    padding: 0;
}

.bg_primary{
    background-color: #3FDD3C;
}

.bg_secondary{
    background-color: #DFFBDC;
}

.bg_dark{
    background-color: #333333;
}

.text_primary{
    color: #339C00;
}

.text_secondary{
    color: #DFFBDC;
}